
.archives{
    padding: 2rem;
}
/*   shuo  */
body.theme-dark .archive-list::before {
background: RGBA(255, 255, 255, 0.06);
}
ul.archive-list {
padding:0;
}
div class.cdp_tmlabel > li .cbp_tmlabel {
margin-bottom:0;
}
.archive-list {
margin: 30px 0 0 0;
padding: 0;
list-style: none;
position: relative;
}
/* The line */
.archive-list:before {
content: '';
position: absolute;
top: 0;
bottom: 0;
width: 4px;
background: RGBA(0, 0, 0, 0.1);
left: 80px;
margin-left: 10px;
}

/* The date/time */
.archive-list > li .cbp_tmtime {
display: block;
/*  width: 29%;  */
/*  padding-right: 110px; */
max-width:70px;
position: absolute;
}

.archive-list > li .cbp_tmtime span {
display: block;
text-align: right;
}

.archive-list > li .cbp_tmtime span:first-child {
font-size: 0.9em;
color: #bdd0db;
}

.archive-list > li .cbp_tmtime span:last-child {
font-size: 1.2em;
color: #9BCD9B;
}

.archive-list > li:nth-child(odd) .cbp_tmtime span:last-child {
color: RGBA(255, 125, 73, 0.75);
}
div.cbp_tmlabel > p {
margin-bottom:0;
}
/* Right content */

.archive-list > li .cbp_tmlabel a {
color: #fff;
}
.archive-list > li .cbp_tmlabel {
margin: 0 0 45px 120px;
background: #9BCD9B;
color: #fff;
padding: 1em;
/* font-size: 1.2em; */
font-weight: 300;
line-height: 1.4;
position: relative;
display: inline-block;
border-radius: 5px;
    transition: all 0.3s ease 0s;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
cursor:pointer;
}
.cbp_tmlabel:hover {
    /* transform:scale(1.05); */
    transform: translateY(-3px);
    z-index: 1;
    -webkit-box-shadow:0 15px 32px rgba(0,0,0,0.15) !important
}
.archive-list > li:nth-child(odd) .cbp_tmlabel {
background: RGBA(255, 125, 73, 0.75);
}

/* The triangle */
.archive-list > li .cbp_tmlabel:after {
right: 100%;
border: solid transparent;
content: " ";
height: 0;
width: 0;
position: absolute;
pointer-events: none;
border-right-color: #9BCD9B;
border-width: 10px;
top: 4px;
}
.archive-list > li:nth-child(odd) .cbp_tmlabel:after {
border-right-color: RGBA(255, 125, 73, 0.75);
}
/* Media  */
@media screen and (max-width: 65.375em) {

.archive-list > li .cbp_tmtime span:last-child {
    font-size: 1.2em;
}
}

@media screen and (max-width: 47.2em) {
.archive-list:before {
    display: none;
}

.archive-list > li .cbp_tmtime {
    width: 100%;
    position: relative;
    padding: 0 0 20px 0;
}

.archive-list > li .cbp_tmtime span {
    text-align: left;
}

.archive-list > li .cbp_tmlabel {
    margin: 0 0 30px 0;
    padding: 1em;
    font-weight: 400;
    font-size: 95%;
}

.archive-list > li .cbp_tmlabel:after {
    right: auto;
    left: 20px;
    border-right-color: transparent;
    border-bottom-color: #9BCD9B;
    top: -20px;
}

.archive-list > li:nth-child(odd) .cbp_tmlabel:after {
    border-right-color: transparent;
    border-bottom-color: RGBA(255, 125, 73, 0.75);
}

.archive-list > li .cbp_tmicon {
    position: relative;
    float: right;
    left: auto;
    margin: -55px 5px 0 0px;
}   
}
/*   end  */