.joe_bread {
	padding-top: 15px;
	&__bread {
		display: flex;
		align-items: center;
		.line {
			color: var(--seat);
			padding: 0 8px;
		}
		.item {
			color: var(--minor);
			white-space: nowrap;
			.link {
				color: var(--routine);
				transition: color 0.35s;
				&:hover {
					color: var(--theme);
				}
			}
			.icon {
				width: 15px;
				height: 15px;
				min-width: 15px;
				min-height: 15px;
				fill: var(--routine);
				margin-right: 2px;
			}
			&:first-child {
				display: flex;
				align-items: center;
			}
		}
	}
}
