html {
  --theme: #409eff;
  --background: #fff;
  --main: #303133;
  --routine: #606266;
  --minor: #909399;
  --seat: #c0c4cc;
  --classA: #dcdfe6;
  --classB: #e4e7ed;
  --classC: #ebeef5;
  --classD: #f2f6fc;
  --radius-wrap: 8px;
  --radius-inner: 4px;
  --text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  --box-shadow: 0px 0px 20px -5px rgba(158, 158, 158, 0.22)
}

html[data-night='night'] body {
  --theme: #54b5db;
  --background: rgba(18, 18, 18, 1);
  --main: rgba(255, 255, 255, 0.87);
  --routine: rgba(255, 255, 255, 0.87);
  --minor: rgba(255, 255, 255, 0.6);
  --seat: rgba(255, 255, 255, 0.6);
  --classA: rgba(255, 255, 255, 0.78);
  --classB: rgba(255, 255, 255, 0.70);
  --classC: rgba(255, 255, 255, 0.6);
  --classD: rgba(255, 255, 255, 0.13);
  --classE: rgba(255, 255, 255, 0.05);
  --text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  --box-shadow: 0px 0px 20px -5px rgba(84 181 219, 0.22)
}

html[data-night='night'] body::before {
  background: #000000;
  z-index: -500
}

html[data-night='night'] .joe_header__above {
  background: var(--classE)
}

html[data-night='night'] .joe_header__above-logo .lightmode-logo {
  display: none
}

html[data-night='night'] .joe_header__above-logo .darkmode-logo {
  display: block
}

html[data-night='night'] .joe_header__above-search .input {
  background: var(--background)
}

html[data-night='night'] .joe_header__above-search .submit {
  color: var(--main)
}

html[data-night='night'] .joe_header__above-search .text {
  color: var(--main)
}

html[data-night='night'] .joe_detail__article table {
  color: var(--main)
}

html[data-night='night'] .joe_detail__article table thead th {
  background: var(--classD)
}

html[data-night='night'] .joe_detail__article .joe_detail__article-abtn {
  color: var(--main)
}

html[data-night='night'] .joe_detail__article-anote {
  color: var(--main)
}

html[data-night='night'] .joe_detail__article-message.success {
  color: #c1d6c3
}

html[data-night='night'] .joe_detail__article-message.info {
  color: #e0ebfd
}

html[data-night='night'] .joe_detail__article-message.warning {
  color: #ffe497
}

html[data-night='night'] .joe_detail__article-message.error {
  color: #f9dfdf
}

html[data-night='night'] .joe_comment .joe_comment__respond-type .item.active {
  color: var(--main)
}

html[data-night='night'] .joe_comment .owner {
  color: var(--main)
}