.joe_live {
    &__type {
        position: relative;
        background: var(--background);
        border-radius: var(--radius-wrap);
        box-shadow: var(--box-shadow);
        padding: 60px 15px 15px;
        margin-bottom: 15px;
        &-title {
            position: absolute;
            top: 15px;
            left: -10px;
            background: var(--theme);
            color: #fff;
            font-weight: 500;
            box-shadow: 2px 5px 10px rgba(49, 58, 70, 0.15);
            height: 30px;
            line-height: 30px;
            padding: 0 12px;
            border-radius: 2px 2px 2px 0;
            user-select: none;
            &::before {
                content: '';
                position: absolute;
                border-style: solid;
                border-width: 10px;
                bottom: -20px;
                left: 0;
                z-index: -1;
                border-color: var(--theme) transparent transparent;
            }
        }
        &-list {
            display: grid;
            gap: 15px;
            grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
            border-top: 1px solid var(--classC);
            padding-top: 15px;
            .item {
                user-select: none;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                background: var(--classD);
                height: 28px;
                line-height: 28px;
                border-radius: 14px;
                cursor: pointer;
                color: var(--routine);
                font-size: 12px;
                padding: 0 15px;
                text-align: center;
                transition: color 0.35s, background 0.35s, box-shadow 0.35s, transform 0.35s;
                &.active {
                    transform: translateY(-2px);
                    color: #fff;
                    background: var(--theme);
                    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
                }
                &:hover {
                    transform: translateY(-2px);
                    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
                }
            }
            .error {
                text-align: center;
                color: var(--routine);
                user-select: none;
            }
        }
    }
}
