.OwO {
    position: relative;
    user-select: none;
}
.OwO:hover .OwO-logo {
    color: rgb(68, 68, 68);
}
.OwO.OwO-open .OwO-logo {
    border-bottom: none;
    color: rgb(68, 68, 68);
    margin-bottom: 10px;
    span {
        animation: 5s ease-in-out 0s infinite normal none running a;
    }
}
.OwO.OwO-open .OwO-body {
    display: block;
}
.OwO.OwO-up .OwO-body {
    top: inherit;
    bottom: 21px;
    border-radius: 4px 4px 4px 0px;
}
.OwO.OwO-up .OwO-body .OwO-bar .OwO-packages li:nth-child(1) {
    border-radius: 0px;
}
.OwO.OwO-up.OwO-open .OwO-logo {
    border-right: 1px solid rgb(221, 221, 221);
    border-bottom: 1px solid rgb(221, 221, 221);
    border-left: 1px solid rgb(221, 221, 221);
    border-image: initial;
    border-top: none;
}
.OwO .OwO-logo {
    position: relative;
    display: inline-block;
    color: rgb(136, 136, 136);
    cursor: pointer;
    z-index: 2;
    span {
        display: flex;
        align-items: center;
        height: 32px;
        line-height: 32px;
        svg {
            width: 20px;
            height: 20px;
            margin-right: 5px;
        }
    }
}
.OwO .OwO-body {
    display: none;
    background: #fff;
    z-index: 1;
    border-radius: 4px;
}
.OwO .OwO-body .OwO-items {
    user-select: none;
    display: none;
    padding: 10px;
    margin: 0px;
    overflow-y: auto;
    font-size: 0px;
    overscroll-behavior: none;
    -webkit-overflow-scrolling: touch;
}
.OwO .OwO-body .OwO-items .OwO-item {
    width: calc(100% / 12);
    list-style-type: none;
    padding: 5px 10px;
    border-radius: 5px;
    display: inline-block;
    font-size: 12px;
    line-height: 14px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
.OwO .OwO-body .OwO-items .OwO-item:hover {
    background: rgb(238, 238, 238);
    box-shadow: rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
    animation: 5s ease-in-out 0s infinite normal none running a;
}
.OwO .OwO-body .OwO-items-emoji .OwO-item {
    font-size: 20px;
    line-height: 19px;
}
.OwO .OwO-body .OwO-items-image .OwO-item img {
    max-width: 100%;
}
.OwO .OwO-body .OwO-items-emoticon .OwO-item {
    width: 25%;
    text-align: center;
}
.OwO .OwO-body .OwO-items-show {
    display: block;
}
.OwO .OwO-body .OwO-bar {
    width: 100%;
    height: 30px;
    border-top: 1px solid rgb(221, 221, 221);
    background: rgb(255, 255, 255);
    border-radius: 0px 0px 4px 4px;
    color: rgb(68, 68, 68);
}
.OwO .OwO-body .OwO-bar .OwO-packages {
    margin: 0px;
    padding: 0px;
    font-size: 0px;
}
.OwO .OwO-body .OwO-bar .OwO-packages li {
    list-style-type: none;
    display: inline-block;
    line-height: 29px;
    font-size: 14px;
    padding: 0px 10px;
    cursor: pointer;
}
.OwO .OwO-body .OwO-bar .OwO-packages li:nth-child(1) {
    border-radius: 0px 0px 0px 3px;
}
.OwO .OwO-body .OwO-bar .OwO-packages li:hover {
    background: rgb(238, 238, 238);
}
.OwO .OwO-body .OwO-bar .OwO-packages .OwO-package-active {
    background: rgb(238, 238, 238);
    transition: all 0.3s ease 0s;
}
@-webkit-keyframes a {
    2% {
        transform: translateY(1.5px) rotate(1.5deg);
    }
    4% {
        transform: translateY(-1.5px) rotate(-0.5deg);
    }
    6% {
        transform: translateY(1.5px) rotate(-1.5deg);
    }
    8% {
        transform: translateY(-1.5px) rotate(-1.5deg);
    }
    10% {
        transform: translateY(2.5px) rotate(1.5deg);
    }
    12% {
        transform: translateY(-0.5px) rotate(1.5deg);
    }
    14% {
        transform: translateY(-1.5px) rotate(1.5deg);
    }
    16% {
        transform: translateY(-0.5px) rotate(-1.5deg);
    }
    18% {
        transform: translateY(0.5px) rotate(-1.5deg);
    }
    20% {
        transform: translateY(-1.5px) rotate(2.5deg);
    }
    22% {
        transform: translateY(0.5px) rotate(-1.5deg);
    }
    24% {
        transform: translateY(1.5px) rotate(1.5deg);
    }
    26% {
        transform: translateY(0.5px) rotate(0.5deg);
    }
    28% {
        transform: translateY(0.5px) rotate(1.5deg);
    }
    30% {
        transform: translateY(-0.5px) rotate(2.5deg);
    }
    32%,
    34% {
        transform: translateY(1.5px) rotate(-0.5deg);
    }
    36% {
        transform: translateY(-1.5px) rotate(2.5deg);
    }
    38% {
        transform: translateY(1.5px) rotate(-1.5deg);
    }
    40% {
        transform: translateY(-0.5px) rotate(2.5deg);
    }
    42% {
        transform: translateY(2.5px) rotate(-1.5deg);
    }
    44% {
        transform: translateY(1.5px) rotate(0.5deg);
    }
    46% {
        transform: translateY(-1.5px) rotate(2.5deg);
    }
    48% {
        transform: translateY(-0.5px) rotate(0.5deg);
    }
    50% {
        transform: translateY(0.5px) rotate(0.5deg);
    }
    52% {
        transform: translateY(2.5px) rotate(2.5deg);
    }
    54% {
        transform: translateY(-1.5px) rotate(1.5deg);
    }
    56% {
        transform: translateY(2.5px) rotate(2.5deg);
    }
    58% {
        transform: translateY(0.5px) rotate(2.5deg);
    }
    60% {
        transform: translateY(2.5px) rotate(2.5deg);
    }
    62% {
        transform: translateY(-0.5px) rotate(2.5deg);
    }
    64% {
        transform: translateY(-0.5px) rotate(1.5deg);
    }
    66% {
        transform: translateY(1.5px) rotate(-0.5deg);
    }
    68% {
        transform: translateY(-1.5px) rotate(-0.5deg);
    }
    70% {
        transform: translateY(1.5px) rotate(0.5deg);
    }
    72% {
        transform: translateY(2.5px) rotate(1.5deg);
    }
    74% {
        transform: translateY(-0.5px) rotate(0.5deg);
    }
    76% {
        transform: translateY(-0.5px) rotate(2.5deg);
    }
    78% {
        transform: translateY(-0.5px) rotate(1.5deg);
    }
    80% {
        transform: translateY(1.5px) rotate(1.5deg);
    }
    82% {
        transform: translateY(-0.5px) rotate(0.5deg);
    }
    84% {
        transform: translateY(1.5px) rotate(2.5deg);
    }
    86% {
        transform: translateY(-1.5px) rotate(-1.5deg);
    }
    88% {
        transform: translateY(-0.5px) rotate(2.5deg);
    }
    90% {
        transform: translateY(2.5px) rotate(-0.5deg);
    }
    92% {
        transform: translateY(0.5px) rotate(-0.5deg);
    }
    94% {
        transform: translateY(2.5px) rotate(0.5deg);
    }
    96% {
        transform: translateY(-0.5px) rotate(1.5deg);
    }
    98% {
        transform: translateY(-1.5px) rotate(-0.5deg);
    }
    0%,
    100% {
        transform: translate(0px) rotate(0deg);
    }
}
@keyframes a {
    2% {
        transform: translateY(1.5px) rotate(1.5deg);
    }
    4% {
        transform: translateY(-1.5px) rotate(-0.5deg);
    }
    6% {
        transform: translateY(1.5px) rotate(-1.5deg);
    }
    8% {
        transform: translateY(-1.5px) rotate(-1.5deg);
    }
    10% {
        transform: translateY(2.5px) rotate(1.5deg);
    }
    12% {
        transform: translateY(-0.5px) rotate(1.5deg);
    }
    14% {
        transform: translateY(-1.5px) rotate(1.5deg);
    }
    16% {
        transform: translateY(-0.5px) rotate(-1.5deg);
    }
    18% {
        transform: translateY(0.5px) rotate(-1.5deg);
    }
    20% {
        transform: translateY(-1.5px) rotate(2.5deg);
    }
    22% {
        transform: translateY(0.5px) rotate(-1.5deg);
    }
    24% {
        transform: translateY(1.5px) rotate(1.5deg);
    }
    26% {
        transform: translateY(0.5px) rotate(0.5deg);
    }
    28% {
        transform: translateY(0.5px) rotate(1.5deg);
    }
    30% {
        transform: translateY(-0.5px) rotate(2.5deg);
    }
    32%,
    34% {
        transform: translateY(1.5px) rotate(-0.5deg);
    }
    36% {
        transform: translateY(-1.5px) rotate(2.5deg);
    }
    38% {
        transform: translateY(1.5px) rotate(-1.5deg);
    }
    40% {
        transform: translateY(-0.5px) rotate(2.5deg);
    }
    42% {
        transform: translateY(2.5px) rotate(-1.5deg);
    }
    44% {
        transform: translateY(1.5px) rotate(0.5deg);
    }
    46% {
        transform: translateY(-1.5px) rotate(2.5deg);
    }
    48% {
        transform: translateY(-0.5px) rotate(0.5deg);
    }
    50% {
        transform: translateY(0.5px) rotate(0.5deg);
    }
    52% {
        transform: translateY(2.5px) rotate(2.5deg);
    }
    54% {
        transform: translateY(-1.5px) rotate(1.5deg);
    }
    56% {
        transform: translateY(2.5px) rotate(2.5deg);
    }
    58% {
        transform: translateY(0.5px) rotate(2.5deg);
    }
    60% {
        transform: translateY(2.5px) rotate(2.5deg);
    }
    62% {
        transform: translateY(-0.5px) rotate(2.5deg);
    }
    64% {
        transform: translateY(-0.5px) rotate(1.5deg);
    }
    66% {
        transform: translateY(1.5px) rotate(-0.5deg);
    }
    68% {
        transform: translateY(-1.5px) rotate(-0.5deg);
    }
    70% {
        transform: translateY(1.5px) rotate(0.5deg);
    }
    72% {
        transform: translateY(2.5px) rotate(1.5deg);
    }
    74% {
        transform: translateY(-0.5px) rotate(0.5deg);
    }
    76% {
        transform: translateY(-0.5px) rotate(2.5deg);
    }
    78% {
        transform: translateY(-0.5px) rotate(1.5deg);
    }
    80% {
        transform: translateY(1.5px) rotate(1.5deg);
    }
    82% {
        transform: translateY(-0.5px) rotate(0.5deg);
    }
    84% {
        transform: translateY(1.5px) rotate(2.5deg);
    }
    86% {
        transform: translateY(-1.5px) rotate(-1.5deg);
    }
    88% {
        transform: translateY(-0.5px) rotate(2.5deg);
    }
    90% {
        transform: translateY(2.5px) rotate(-0.5deg);
    }
    92% {
        transform: translateY(0.5px) rotate(-0.5deg);
    }
    94% {
        transform: translateY(2.5px) rotate(0.5deg);
    }
    96% {
        transform: translateY(-0.5px) rotate(1.5deg);
    }
    98% {
        transform: translateY(-1.5px) rotate(-0.5deg);
    }
    0%,
    100% {
        transform: translate(0px) rotate(0deg);
    }
}
